<div class="container">
  <div class="items">
    <div id="item-content">
      <div>
        <img id="logo" src="assets/Logo.svg" alt="Logo" />
        <div id="title" >Login or sign</div>
        <div id="subtitle">Use your email or other serivce to continue with us</div>
      </div>

      <Button>
        <fa-icon class="icon facebook" [icon]="faFacebook"></fa-icon>
        continue with facebook
      </Button>

      <Button>
        <fa-icon class="icon" [icon]="faGoogle"></fa-icon>
        continue with Google
      </Button>

      <Button>
        <fa-icon class="icon" [icon]="faApple" ></fa-icon>
        continue with Apple
      </Button>

      <Button>
        <fa-icon class="icon twitter" [icon]="faTwitter"></fa-icon>
        continue with Twitter
      </Button>

      <Button>
        <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
        continue with Email
      </Button>

      <Button>
        <fa-icon class="icon" [icon]="faMobileScreen"></fa-icon>
        continue with Phone
      </Button>
    </div>
  </div>
  <div class="items">
    <img id="right-image" src="assets/orange in a bowl.png" alt="image" />
  </div>
</div>
